@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
}

.header-container {
    width: 100%;
    height: 400px;
    background: linear-gradient(0.25turn,hsl(13, 100%, 72%), hsl(353, 100%, 62%));
   
}